<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="show2.css">
    <title>Quiz</title>
</head>
<body>


 
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    
                      <img src="img_1.jpg" alt="Course Image">
                    
                    </figure>
                  </div>
     <div class="card-content">
        <div class="media">
            <div class="media-content">
     
            <p class="title is-4">Course Title : <span class="title-quiz">Java</span> </p>
            <p class="subtitle is-6">Created_at :  <span class="date-quiz">2/12/2023</span></p>

        </div>

        <div class="content">
            <p>Course Description: description of Course</p>
            <br>
            <div class="buttons">
              <a class="button is-primary" target="_blank" href="https://www.youtube.com/watch?v={{ course.video }}">
                <span class="icon">
                  <i class="fas fa-play"></i>
                </span>
                <span>Watch Video</span>
              </a>
              <a class="button is-link" href="/static/pdf/{{ course.pdf }}">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download PDF</span>
              </a>
            </div>
          </div>

          <p class="title-2 is-4 ">Exam: Exam python</p>

          <div class="quiz-options">
          <li class="title-3 is-4">Question 1?
            
            <ol>
             
                <li><input type="checkbox" class="answer" value="{{ x }}"> Option 1</li>
                <li><input type="checkbox" class="answer" value="{{ x }}"> Option 2</li>
                <li><input type="checkbox" class="answer" value="{{ x }}"> Option 3</li>
                <li><input type="checkbox" class="answer" value="{{ x }}"> Option 4</li>
         
            </ol>
            </li>

            <button id="btn" onclick="get_score()">Done</button>
            <p id="score"></p>
    
</div>
 </div>
</div>
</div>
</section>
<script>
    correct = [ {% for x in correct %}
    {% if forloop.counter != correct_length  %}
    "{{ x }}",
    {% else %}
    "{{ x }}"
    {% endif %}
    
    {% endfor %} ]
    function get_score (){
      answers = document.getElementsByClassName('answer');
      selected_options = []
      console.log(answers)
      for(let i= 0; i< answers.length; i++){  
          console.log(answers[i])
        if (answers[i].checked)
          selected_options.push(answers[i].defaultValue)
        }
       cpt= 0
      for(let i= 0; i< selected_options.length; i++){
        console.log(selected_options[i])
        if (correct.includes(selected_options[i]))
          {
            cpt ++
            console.log(correct.includes(selected_options[i]))
          }
      }
      console.log(selected_options)
      console.log(correct)
      document.getElementById("score").innerHTML = "Your score is " + ((cpt / answers.length) * 100).toFixed(2) + "%";
    }
  </script>
 
</body>
</html>



    
</body>
</html>