html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #a8c0ff;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    margin: 0;
    padding: 0;

}
.title{
    font-size:30px;
    background-color:#e16162;
    border-radius:15px;
    line-height:50px;
    padding:5px;
    box-shadow:4px 4px #3da9fc;


}

.subtitle{
    font-size:25px;
    background-color:#ff8906;
    border-radius:15px;
    line-height:50px;
    padding:3px;
    box-shadow:4px 4px #004643;
}


.title .title-quiz{
    color:black;
    font-weight:bold;
}
.subtitle .date-quiz{
    color:black;
    font-weight:bold;
}

a{
    text-decoration: none;
    color: inherit;
}
li,ol{
  list-style:none;
}
section {
    background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #272343, #bae8e8);
    padding-top: 80px;
    overflow-y: hidden;
}


.container {
    background: rgba(217, 214, 228, 0.12);
    border-radius: 10px;
    padding: 5px 20px 50px;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto 214px;
}


.media-content {
    text-align: center;
}
.card-image img{
    border-radius: 41px!important;
   width:100%;
   box-shadow:3px 4px  2px 4px #7f5af0;
    

}
.content{
    text-align:center;
}
.content p{
    font-weight:bold;
    font-size:20px;
}
.buttons{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.buttons .is-primary{
    background-color:#55423d;
    padding:8px;
    border-radius: 4px!important;
}

.buttons .is-link{
    background-color:#e78fb3;
    padding:8px;
    border-radius: 4px!important;
}
.title-2{
    color:black;
    font-size:20px;
    font-weight:bold;
}
.quiz-options {
    margin: 30px 0;
}
ol li {
    background: #fff;
    color:black;
     border-radius:8px;
     padding:5px;
     display: flex;
     align-items: center;
    

}
ol li input[type=checkbox]  {
  width:30px;
  height:50px;

}



#btn {
    border: 1px solid #000;
    border-radius: 50px;
    background: rgb(247, 206, 206);
    color: #000;
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    width: 57%;
    margin: 0 auto;
    outline: none;
    padding: 11px 0;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#btn:hover {
    background: rgba(255, 255, 255, 0.671);
    color: rgba(0, 0, 0, 0.749);
    border: 1px solid #000;
}


.btn:hover {
    background: #000;
    color: #fff;
}





/* MEDIA QUERY */

@media (max-width: 420px) {
    body {
        font-size: .8rem;
    }

    .container {
        width: 92%;
    }

    section {
        background: linear-gradient(to right, #3f2b96, #1f0961);
    }

}
